body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 1em;
}

section {
  text-align: center;
  padding: 2em;
}

.room {
  margin: 1em;
}

.room img {
  width: 100%;
  max-width: 600px; /* Adjust the max-width as needed */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.room img:hover {
  transform: scale(1.1);
}

/* Slideshow Animation */
@keyframes slideshow {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.room img {
  animation: slideshow 8s infinite;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}
